<%= partial "partials/head" %>
<img id="<%= blog('blocks').articles[0].data.anchor %>"class="image--fullwidth brand-tertiary" src="../images/item-body-3.svg" alt="">

<article class="layout__item">
  <%= partial("partials/navigation", :locals => { :which_is_link_active => 0 }) %>
  <div class="textbox">
    <h1 class="textbar">
      <%= current_page.data.title %>
    </h1>
    <%= yield %>
  </div>
  <footer class="layout__item-top">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 0 }) %>
  </footer>
</article>

<%= partial "partials/footer" %>
