---
title: Offcourse
layout: main
---
<header class="layout__header brand-primary">
  <div id="<%= blog('blocks').articles[0].data.anchor %>" class="layout__header-container">
    <header class="layout__item-top">
      <%= partial("partials/navigation", :locals => { :which_is_link_active => 0 }) %>
    </div>
  </div>
</header>

<div id="<%= blog('blocks').articles[0].data.anchor %>" class="layout__item layout__item--sc">
  <article class="textbox">
    <h1 class="textbar textbar--big textbar--margin-bottom">Offcourse_</h1><br>
    <%= blog('blocks').articles[0].body %>
  </article>
</div>

<div id="<%= blog('blocks').articles[1].data.anchor %>" class="layout__item layout__item--sc">
  <header class="layout__item-top">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 1 }) %>
  </header>
  <article class="textbox">
    <h1 class="textbar"><%= blog('blocks').articles[1].data.title %></h1>
    <%= blog('blocks').articles[1].body %>
  </article>
  <div class="textbox">
  <% for entity in blog('blocks').articles[1].data.concepts %>
    <div class="feature">
      <div class="feature__meta">
        <h3 class="feature__name"><%= entity.concept %></h3>
        <p class="feature__job"><%= entity.summery %></p>
        <p class="feature__name"><%= entity.feature %></p>
      </div>
    </div> 
  <% end %>
  </div>
</div>

<div id="<%= blog('blocks').articles[2].data.anchor %>" class="layout__item layout__item--sc">
  <header class="layout__item-top">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 2 }) %>
  </header>
  <article class="textbox">
    <h1 class="textbar"><%= blog('blocks').articles[2].data.title %></h1>
    <%= blog('blocks').articles[2].body %>
  </article>
</div>

<div id="<%= blog('blocks').articles[3].data.anchor %>" class="layout__item layout__item--sc">
  <header class="layout__item-top">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 3 }) %>
  </header>
  <article class="layout__item-grid-content">
    <div class="textbox">
      <h1 class="textbar"><%= blog('blocks').articles[3].data.title %></h1>
      <%= blog('blocks').articles[3].body %>
    </div>
  </article>
  <div class="layout__item-partners">
    <% for entity in blog('blocks').articles[3].data.partners %>
    <div class="partner">
      <a href="<%= entity.url || 'https://www.linkedin.com/vsearch/f?type=all&keywords=' + entity.name %>">
        <h3 class="partner__name"><%= entity.name %></h3>
        <p class="partner__job"><%= entity.job %></p>
      </a>
    </div> 
    <% end %>
  </div>
</div>

<div id="<%= blog('blocks').articles[4].data.anchor %>" class="layout__item layout__item--sc">
  <header class="layout__item-top">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 4 }) %>
  </header>
  <article class="layout__item-grid-content">
    <div class="textbox">
      <h1 class="textbar"><%= blog('blocks').articles[4].data.title %></h1>
      <%= blog('blocks').articles[4].body %>
    </div>
  </article>
  <div class="textbox">
    <h3 class="references-title">Projects:</h3>
    <% blog('projects').articles.each do |post| %>
    <%= partial(:"partials/reference", :locals => { :reference => post })  %>
    <% end %>
    <h3 class="references-title">Publications:</h3>
    <% blog('publications').articles.each do |post| %>
    <%= partial(:"partials/reference", :locals => { :reference => post })  %>
    <% end %>
  </div>

</div>