---
title: Offcourse
layout: main
---

<img id="<%= blog('frontpage').articles[0].data.anchor %>"class="image--fullwidth brand-tertiary" src="./images/item-body-2.svg" alt="">

<div class="layout__header">
  <div class="layout__item layout__item--margin-bottom brand-tertiary">
    <article class="textbox">
      <h1 class="textbar textbar--big textbar--margin-bottom">Offcourse_</h1>
      <%= blog('frontpage').articles[0].body %>
    </article>
  </div>
</div>
<div id="<%= blog('frontpage').articles[1].data.anchor %>" class="layout__item layout__item--padding-bottom">
  <header class="layout__item-top">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 1 }) %>
  </header>
  <div class="textbox textbox--padding-small">
    <h1 class="textbar"><%= blog('frontpage').articles[1].data.title %></h1>
  </div>
  <div class="textbox">
    <% for entity in blog('frontpage').articles[1].data.concepts %>
    <div class="feature">
      <div class="feature__meta feature__meta--fw">
        <h3 class="feature__title"><%= entity.concept %></h3>
        <p class="feature__job"><%= entity.summery %></p>
        <p class="feature__name"><%= entity.feature %></p>
      </div>
    </div> 
    <% end %>
  </div>
</div>

<img class="image--fullwidth image--padding brand-tertiary" src="./images/item-body-4.svg" alt="">

<div id="<%= blog('frontpage').articles[2].data.anchor %>" class="layout__item layout__item--padding-bottom">
  <header class="layout__item-top">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 2 }) %>
  </header>
  <article class="textbox textbox--padding-small">
    <h1 class="textbar"><%= blog('frontpage').articles[2].data.title %></h1>
    <%= blog('frontpage').articles[2].body %>
  </article>
</div>

<img class="image--fullwidth image--padding-center brand-tertiary" src="./images/item-partners.svg" alt="">

<div id="<%= blog('frontpage').articles[3].data.anchor %>" class="layout__item layout__item--padding-bottom">
  <header>
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 3 }) %>
  </header>
  <article class="textbox textbox--padding-small">
    <h1 class="textbar"><%= blog('frontpage').articles[3].data.title %></h1>
    <%= blog('frontpage').articles[3].body %>
  </article>
  <div class="layout__item-team">
    <% for person in blog('team').articles %>
      <%= partial("partials/team-member", :locals => { :person => person, :extra_info => 0 }) %>
    <% end %>
  </div>
</div>

<div id="<%= blog('frontpage').articles[4].data.anchor %>" class="layout__item layout__item--padding-bottom">
  <header class="layout__item-top">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 4 }) %>
  </header>
  <article class="textbox textbox--padding-top">
    <h1 class="textbar"><%= blog('frontpage').articles[4].data.title %></h1>
    <%= blog('frontpage').articles[4].body %>
  </article>
  <div class="textbox">
    <%= partial("partials/projects") %>
    <%= partial("partials/publications", :locals => { :search_query => 0 }) %>
  </div>
</div>