---
title: Offcourse
layout: main
---

<img id="<%= blog('frontpage').articles[0].data.anchor %>"class="layout__item-fw brand-tertiary" src="./images/fw-gears.svg" alt="">

<div class="layout__item-fw layout__item-fw-center brand-tertiary">
  <article class="layout__item layout__item--padding-t-xxs layout__item--padding-b-m">
    <h1 class="textbar textbar--big textbar--margin-bottom">Offcourse_</h1>
    <div class="markdown"><%= blog('frontpage').articles[0].body %></div>
  </article>
</div>

<div id="<%= blog('frontpage').articles[1].data.anchor %>" class="layout__item layout__item--padding-b-xl">
  <%= partial("partials/navigation", :locals => { :which_is_link_active => 1 }) %>
  <div class="layout__item-fw layout__item--padding-b-xs">
    <h1 class="textbar"><%= blog('frontpage').articles[1].data.title %></h1>
  </div>
  <% for entity in blog('frontpage').articles[1].data.concepts %>
  <div class="feature feature--boxed">
    <div class="feature__meta feature__meta--fw">
      <h3 class="feature__title"><%= entity.concept %></h3>
      <p class="feature__job"><%= entity.summery %></p>
      <p class="feature__name"><%= entity.feature %></p>
    </div>
  </div>
  <% end %>
</div>

<img class="layout__item-fw layout__item--padding-t-s layout__item--padding-b-s brand-tertiary " src="./images/fw-electronics.svg" alt="">

<div id="<%= blog('frontpage').articles[2].data.anchor %>" class="layout__item layout__item--padding-b-xl">
  <%= partial("partials/navigation", :locals => { :which_is_link_active => 2 }) %>
  <article class="layout__item-fw layout__item--padding-b-xs">
    <h1 class="textbar"><%= blog('frontpage').articles[2].data.title %></h1>
    <div class="markdown"><%= blog('frontpage').articles[2].body %></div>
  </article>
</div>

<img class="layout__item-fw layout__item--padding-t-s layout__item--padding-b-s layout__item--padding-lr-s brand-tertiary" src="./images/fw-people.svg" alt="">

<div id="<%= blog('frontpage').articles[3].data.anchor %>" class="layout__item layout__item--padding-b-xs">
  <%= partial("partials/navigation", :locals => { :which_is_link_active => 3 }) %>
  <article class="layout__item-fw layout__item--padding-b-xs">
    <h1 class="textbar"><%= blog('frontpage').articles[3].data.title %></h1>
    <div class="markdown"><%= blog('frontpage').articles[3].body %></div>
  </article>
  <% for person in blog('team').articles %>
    <%= partial("partials/team-member", :locals => { :person => person, :extra_info => 0 }) %>
  <% end %>
</div>

<div id="<%= blog('frontpage').articles[4].data.anchor %>" class="layout__item layout__item--padding-b-xl">
  <%= partial("partials/navigation", :locals => { :which_is_link_active => 4 }) %>
  <article class="layout__item-fw layout__item--padding-b-xs">
    <h1 class="textbar"><%= blog('frontpage').articles[4].data.title %></h1>
    <%= blog('frontpage').articles[4].body %>
  </article>
  <%= partial("partials/projects") %>
  <%= partial("partials/publications", :locals => { :search_query => 0 }) %>
</div>